In [71]:
import pandas as pd
import numpy as np

In [72]:
res=pd.read_csv('LEAVEHISTORY.csv')

In [73]:
res

,EMPLOYEECODE,LVREQSTYEAR,LVREQSTID,LVREQSTDT,applied_day_of_week,applied_month,LVREASON,ADNLINFO,HALFDAY,LEAVECODE,LVFRDT,LVTODT,leave_days,ELBALANCE,HPLBALANCE,total_past_leaves,approval_status
0,AC00653,2013,1838,10/24/2013,5.0,10.0,RELIGIOUS FESTIVAL,NaN,NaN,EL,9/2/2013,9/6/2013,5,303.0,263.0,9,1
1,AC00653,2013,1368,8/2/2013,6.0,8.0,GOING TO AH'BAD,NaN,NaN,EL,7/8/2013,7/12/2013,5,308.0,263.0,9,1
2,AC00653,2014,140,1/10/2014,6.0,1.0,NOT WELL,NaN,NaN,EL,12/27/2013,12/27/2013,1,302.0,263.0,9,1
3,AC00653,2014,709,4/23/2014,4.0,4.0,BACK ACHE & KNEE PAIN,NaN,NaN,CMC,3/3/2014,3/14/2014,12,300.0,246.0,9,1
4,AC05119,2016,879,6/21/2016,3.0,6.0,PERSONAL WORK,NaN,NaN,EL,5/25/2016,5/27/2016,3,300.0,684.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60834,ZZ09077,2009,1359,7/15/2009,4.0,7.0,PERSONAL,NaN,NaN,EL,7/27/2009,7/31/2009,5,15.0,13.0,20,1
60835,ZZ09077,2011,593,4/28/2011,5.0,4.0,MEDICAL,NaN,NaN,CMC,4/7/2011,4/15/2011,9,14.0,12.0,20,1
60836,ZZ09077,2010,1179,6/14/2010,2.0,6.0,MARRIAGE,NaN,NaN,EL,6/21/2010,6/25/2010,5,14.0,23.0,20,1
60837,ZZ09077,2010,1443,7/19/2010,2.0,7.0,MARRIAGE,NaN,NaN,EL,6/26/2010,7/13/2010,18,11.0,33.0,20,1
60838,ZZ09077,2009,1728,8/18/2009,3.0,8.0,PERSONAL,NaN,NaN,EL,8/1/2009,8/7/2009,7,8.0,13.0,20,1

In [74]:
res.head()

,EMPLOYEECODE,LVREQSTYEAR,LVREQSTID,LVREQSTDT,applied_day_of_week,applied_month,LVREASON,ADNLINFO,HALFDAY,LEAVECODE,LVFRDT,LVTODT,leave_days,ELBALANCE,HPLBALANCE,total_past_leaves,approval_status
0,AC00653,2013,1838,10/24/2013,5.0,10.0,RELIGIOUS FESTIVAL,NaN,NaN,EL,9/2/2013,9/6/2013,5,303.0,263.0,9,1
1,AC00653,2013,1368,8/2/2013,6.0,8.0,GOING TO AH'BAD,NaN,NaN,EL,7/8/2013,7/12/2013,5,308.0,263.0,9,1
2,AC00653,2014,140,1/10/2014,6.0,1.0,NOT WELL,NaN,NaN,EL,12/27/2013,12/27/2013,1,302.0,263.0,9,1
3,AC00653,2014,709,4/23/2014,4.0,4.0,BACK ACHE & KNEE PAIN,NaN,NaN,CMC,3/3/2014,3/14/2014,12,300.0,246.0,9,1
4,AC05119,2016,879,6/21/2016,3.0,6.0,PERSONAL WORK,NaN,NaN,EL,5/25/2016,5/27/2016,3,300.0,684.0,1,1

In [75]:
res.sample(5)

,EMPLOYEECODE,LVREQSTYEAR,LVREQSTID,LVREQSTDT,applied_day_of_week,applied_month,LVREASON,ADNLINFO,HALFDAY,LEAVECODE,LVFRDT,LVTODT,leave_days,ELBALANCE,HPLBALANCE,total_past_leaves,approval_status
1143,AC08474,2021,2224,NaN,NaN,NaN,NaN,NaN,NaN,EMC,12/1/2021,12/1/2021,1,0.0,4.0,256,0
42391,HQ03653,2008,519,4/4/2008,6.0,4.0,TOUR TO USA,NaN,NaN,HPL,4/28/2008,5/30/2008,33,283.0,534.0,43,1
19864,DS03080,2007,430,1/19/2007,6.0,1.0,PERSONAL,NaN,NaN,EL,11/28/2006,11/28/2006,1,34.0,114.0,481,1
21380,DS03617,2015,331,4/17/2015,6.0,4.0,NOT WELL,NaN,NaN,CMC,2/5/2015,2/6/2015,2,177.0,186.0,249,1
9110,CE03141,2009,801,5/26/2009,3.0,5.0,PERSONAL WORK,NaN,NaN,EL,3/13/2009,3/13/2009,1,311.0,222.0,174,1

In [80]:
print("Shape:", res.shape)
print("Target split:")
(res["approval_status"].value_counts())

Shape: (60839, 17)
Target split:

1    58838
0     2001
Name: approval_status, dtype: int64

In [81]:
res = res.drop(columns=[
 "LVREQSTYEAR",
 "LVREQSTID",
 "LVREQSTDT",
 "LVFRDT",
 "LVTODT"
])

In [84]:
res.shape

(60839, 12)

In [85]:
#for categorical values since there is no constant values ..so this approach followed

res["LVREASON"] = res["LVREASON"].fillna("UNKNOWN")
res["ADNLINFO"] = res["ADNLINFO"].fillna("NONE")
res["HALFDAY"] = res["HALFDAY"].fillna("NO")

In [86]:
#Numeric values missing

num_cols = ["ELBALANCE", "HPLBALANCE", "leave_days"]
for col in num_cols:
 res[col] = res[col].fillna(res[col].median())

In [88]:
res = res[res["leave_days"] > 0]

In [89]:
res.to_csv('CLEANED_DATASET.csv',index=False)

In [91]:
print('preprocessing done')

preprocessing done

In [92]:
print(res["approval_status"].value_counts(normalize=True))

1    0.967126
0    0.032874
Name: approval_status, dtype: float64